# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Build output
build/
out/

# Serenity BDD reports (optional)
serenity-report/
